// ============== миксины ============

@mixin btn($bg-color) {
	padding: 11px 15px;
	border-radius: 5px;
	background-color: $bg-color;
	transition: background-color 0.5s ease;

	&:hover {
		background-color: darken($bg-color, 10%);
	}
}

@mixin circle($radius, $bgc: #fff) {
	width: $radius * 2;
	height: $radius * 2;
	border-radius: 50%;
	background-color: $bgc;
}

