.kkal {
	width: 60px;
	height: 80px;
	font-family: $title-font;
	font-weight: 400;
	text-align: center;
	opacity: 0.5;

	&__quantity {
		position: absolute;
		top: 27px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 20px;
	}
}