.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__list {
		display: flex;
		justify-content: flex-end;

		@include tablet {
			display: none;
		}
	}

	&__item {
		position: relative;
		white-space: nowrap;

		&:not(:last-child)::after {
			content: "";
			@include circle(2px);
		}

		&::after {
			display: inline-block;
			vertical-align: middle;
			margin: 0 rem(14px);
		}

		@include tablet {
			opacity: 0;
		}

		&_overlay {
			opacity: 1;
		}
	}

	&__link {
		@extend %btn-properties;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__btn {
		margin-left: rem(15px);
	}
}

