.nav-menu {
	display: flex;

	&__item {
		position: relative;
		white-space: nowrap;

		&:not(:last-child)::after {
			content: "";
			@include circle(2px);
		}
	}

	&__link {
		@extend %btn-properties;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}