.social {
	display: flex;

	&__item {
		display: flex;
		align-items: center;
		margin-left: rem(20px);
	}

	&__link {
		opacity: 0.3;
		transition: 0.4s;

		svg {			
			fill: #fff;
		}

		&:hover {
			opacity: 1;
		}

		&_vk svg {
			width: rem(23px);
			height: rem(13px);
		}

		&_fb svg,
		&_inst svg {
			width: rem(20px);
			height: rem(20px);
		}

		&_tw svg {
			width: rem(20px);
			height: rem(16px);
		}
	}
}