// ============== миксины ============
@function rem($px) {
	@return $px / 16px + 0rem;
}

@mixin btn($bg-color) {
	padding: 11px 15px;
	border-radius: 5px;
	background-color: $bg-color;
	transition: background-color 0.5s ease;

	&:hover {
		background-color: darken($bg-color, 10%);
	}
}

@mixin circle($radius, $bgc: #fff) {
	width: $radius * 2;
	height: $radius * 2;
	border-radius: 50%;
	background-color: $bgc;
}

@mixin title($f-size: 72px, $color: $title-main-color) {
	font-family: $title-font;
	font-size: $f-size;
	font-weight: 400;
	line-height: 1.18;
	color: $color;
}

@mixin tablet {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin phone-small {
	@media screen and (max-width: $phone-small) {
		@content;
	}
}