.about {

	.container {
		justify-content: center;
		align-items: center;

		@include tablet {
			padding-bottom: 140px;
		}

		@include phone {
			padding-bottom: 100px;
		}

		@include phone-small {
			padding-bottom: 10px;
		}
	}

	@include tablet {
		background-image: url(../img/bg_about-tablet.jpg);
	}

	&__slogan.title {
		color: $text-secondary-color;

		@include phone {
			margin-bottom: rem(20px);
		}
	}
}