.contacts {
	font-style: normal;

	&__tel {
		display: inline-block;
		margin-top: rem(10px);
		text-decoration: none;
		font-weight: 700;
		color: $corp-color;

		svg {
			margin-right: 0.36em;
			width: 0.86em;
			height: 0.79em;
			vertical-align: baseline;
			fill: currentColor;
		}
	}
}