.features {
	display: flex;
	width: 100%;
	justify-content: space-between;
	
	@include phone {
		flex-direction: column;
	}

	&__item {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-right: rem(36px);
		max-width: rem(290px);
		text-align: center;
		color: $text-secondary-color;

		&:last-child {
			margin-right: 0;
		}

		@include phone {
			flex-direction: row;
			margin-right: 0;
			max-width: 100%;
			text-align: left;
		}
	}

	&__icon {
		align-self: center;
		display: inline-flex;
		width: 100px;
		height: 90px;
		margin-bottom: rem(30px);
		flex-shrink: 0;

		@include phone-small {
			flex-shrink: 1;
		}

		img {
			margin: auto;
			object-fit: contain;
		}		
	}

	&__content {

		@include phone {
			margin-left: 28px;
		}

		@include phone-small {
			flex-shrink: 2;
		}
	}

	&__title {
		margin-top: rem(15px);
		margin-bottom: rem(15px);
		font-family: $sub-title-font;
		font-size: 24px;

		@include phone-small {
			margin: rem(10px) 0;
			font-size: 20px;
		}
	}

	&__info {
		margin: 1rem 0;
		flex: 1;
		line-height: 1.7;
	}
}