.footer {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0f0f0f;
	background-image: url(../img/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__left,
	&__right {
		width: 50%;

		@include phone {
			width: 100%;
			text-align: center;
		}
	}

	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include phone {
			justify-content: center;
			margin-top: rem(20px);
		}

		@include phone-small {
			margin-top: rem(14px);
		}
	}
}

.container_footer {
	flex-direction: row;
	padding: rem(10px) 0 rem(13px);

	@include phone {
		flex-direction: column;
		padding: rem(24px) 0 rem(27px);
	}

	@include phone-small {
		padding: rem(12px) 0 rem(14px);
	}
}