.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.nav-menu {
		justify-content: flex-end;

		@include tablet {
			display: none;
		}
	}

	.nav-menu__item {

		&::after {
			display: inline-block;
			vertical-align: middle;
			margin: 0 rem(14px);
		}

		@include tablet {
			opacity: 0;
		}

		&_overlay {
			opacity: 1;
		}
	}

	&__btn {
		margin-left: rem(15px);
	}
}

