.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 625px;

	&__list {
		display: flex;
		justify-content: flex-end;
	}

	&__item {
		white-space: nowrap;

		&:not(:last-child)::after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			@include circle(2px);
			margin: 0 14px;
		}
	}

	&__link,
	&__order-btn {
		@extend %btn-properties;
		text-decoration: none;
	}

	&__link:hover {
		text-decoration: underline;
	}

	&__order-btn {
		@include btn($corp-color);
		margin-left: 15px;
	}
}