.map {
	position: relative;

	&__yandex {
		width: 100%;
		height: 100%;
	}

	&__balloon {
		font-family: $main-font;
		font-size: $main-font-size;
		color: $text-secondary-color;
	}

	&__balloon-img {
		margin-right: 20px;
		width: 61px;
		height: 46px;
		vertical-align: middle;
	}
}