.overlay-order {

	&__container {
		width: 200px;
		padding: 17px 20px 20px;
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
	}

	&__text {
		margin-bottom: 17px;
		color: $text-secondary-color;
	}

	&__btn:focus {
		outline-color: $title-main-color;
	}
}
