.overlay-review {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba($text-secondary-color, 0.92);

	&__container {
		position: relative;
		margin: auto;
		width: 460px;
		border-radius: 5px;
		background-color: $text-main-color;
	}

	&__content {
		max-width: 100%;
		padding: 25px 20px;
		box-sizing: border-box;
		color: $text-secondary-color;
	}

	&__title {
		font-family: $title-font;
		font-weight: 400;
	}

	&__text {
		margin: 25px 0 0 0;
		line-height: $main-font-line-heit;

	}

	&__btn-close.btn-close {
		top: 20px;
		right: 14px;
		border-color: rgba($corp-color, 0.7);

		&::before {
			border-color: rgba($corp-color, 0.7);
		}
	}
}
