.page-down-link {
	align-self: center;
	margin-bottom: 30px;
	width: 20px;
	height: 20px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-bottom-right-radius: 5px;
	transform: rotate(45deg);
}