.section {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	min-height: rem(650px);
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

@each $section in $sections {
	.#{$section} {
		background-image: url("../img/bg_#{$section}.jpg");
	}
}